Welcome
<% if user_signed_in? %>
<p>
<%= link_to('Edit registration', edit_user_registration_path)%>
</p>
<p>
<%= link_to('Logout', destroy_user_session_path, method: :delete)%>
</p>
<p>
<% else %>
<%= link_to '/users/sign_in' do %>
  Sign in
<% end %>
</p>
<% end %> 