<%= javascript_pack_tag 'application' %>
<p><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></p>
<%= react_component('NewPost')%>
<% @posts.order(:created_at).reverse_each do |post| %>
<%= react_component('PostPage', {post: post, currentUser: @user, postUser: getUser(post), postComments: post.comments}) %>
<% end %>
