
<% @posts.each do |post| %>
<div class="post">
  <h3><%= post.username %> : <%= post.created_at %></h3>
  <p><%= post.message %></p>
</div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
