/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .post {
    border-style: outset;
    background-color: 'yellow';
  }

  .invisible{
    font-size: 0px;
    color: white;
  }

  .profileBody {
    margin-right: 10%;
    margin-left: 10%;
    border-style: solid;
  }

  .profileNameHeader {
    padding: 10%;
    font-size: 30px;
    color: seagreen;
  }

  .profilePicture {
    height: 200px;
    border-style: outset;
  }

  .profileImageDiv {
    padding: 2%;
  }

  .profileBio {
    padding: 5%;
    font-size: 25px;
  }

  .postHead {
    display: flex;
    padding: 10px;
  }

  .postImage {
    height: 50px;
  }

  .postBody {
    border-style: outset;
  }